.navigation{
    min-width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.logo{
    padding-left: 38px;
    margin-bottom: 8px;
    padding-top: 50px;
    width: 80%;
}
