.navigation-item{
    width: 80%;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 8px;     
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.navigation-item.active, .navigation-item:hover{
    background-color: #DDF5E5;
} 

.navigation-item img{
    display: inline-block;
    margin-left:28px;
    width: 24px;
}

.navigation-item h2{
    display: inline-block;
    margin: 0;
    margin-left:16px;
    font-weight: 300;
    font-size: 1.1rem;
}
  