.song-list-table td:first-child, .song-list-table th:first-child{
    width: 60px;
    border-bottom: 0px solid #ccc;
}

.song-list-table tr:hover{
    background-color: #ddf5e5;
    border-radius: 30px;
}

.play-pause-button img{
    width: 28px;
    height: 28px;
    margin-left: 10px;
}

.song-list-table .play-pause-button button{
    visibility: hidden;
    cursor: pointer;
}

.song-list-table tr:hover button{
    visibility: visible;
}

.song-list-table td{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;
}

.song-list-table th {
    color: #646464;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
    text-align: left;
}

.song-list-table{
    width: 100%;
    position: relative;
    left:-30px;
}

.song-list-table table{
    width: 100%;
}

.like-button img{
    width: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-songs{
    padding-left: 68px;
    margin-bottom: 30px;
}

.filter-songs input{
    margin-left: 6px;
    background-color: transparent;
    border: none;
    outline: none;
}